div.page__background {
  background-color: #3c7ac0;
}


.anonAppLayout {
  width: 60%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  gap: 0px;
}

.anonAppLayout div {
  border-style: dashed;
  text-align: center;
}
